@model CSharp.Web.ViewModels.GrantViewModel

<div class="panel-body">
    <div class="media">
        
        <div class="media-body">
            <h3 class="media-heading">
                @Model.AgencyName
            </h3>
            <p>@Model.GrantAmount</p>
        </div>
    </div>
</div>
